<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="https://ssxxyxxn.github.io/assets/logo.io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://ssxxyxxn.github.io/assets/logo.io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://ssxxyxxn.github.io/assets/logo.io/favicon-16x16.png">
<link rel="manifest" href="https://ssxxyxxn.github.io/assets/logo.io/site.webmanifest">
<link rel="mask-icon" href="https://ssxxyxxn.github.io/assets/logo.io/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
